html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #fc0;
    color: green;
}
li a:visited:hover {
    background-color: red;
    color: white;
}
li a.curpos {
    background-color: green;
    color: white;
}
.content {
    margin-top: 60px;
    background-color: black;
    color: green;
    padding: 0 20px 20px 20px;
}
.button {
    background-color: black;
    display: inline-block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}
.button:hover {
    background-color: #fc0;
    color: black;
}
.button:visited:hover {
    color: green;
    background-color: red;
}
a {
    color: #886;
    text-decoration: none;
}
a:hover {
    color: white;
}
a:visited:hover {
    color: red;
}
p {
    color: green;
}
